body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f3f4ed;
  margin: 0;
  padding: 40px;
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  background-color: #fefae0;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  text-align: left;
}

h1 {
  margin-bottom: 30px;
  color: #d90429;
  text-align: center;
}

h3 {
  text-align: center;
}

label {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: normal;
  color: #2b2d42;
}

select {
  padding: 15px 10px;
  width: 100%;
  margin-bottom: 25px;
  border: 1px solid #8d99ae;
  border-radius: 10px;
  background-color: #8d99ae;
  color: #edf2f4;
}

.button {
  display: block;
  padding: 15px 30px;
  background-color: #ef233c;
  color: #edf2f4;
  border: 1px solid #2b2d42;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  margin: 15px auto;
}

.button:hover {
  background-color: #d90429;
}

.progress-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.progress-bar {
  width: 0%;
  height: 25px;
  background-color: #8d99ae;
  border-radius: 10px;
  transition: width 0.5s;
}

.progress-text {
  margin-left: 15px;
  font-weight: normal;
  color: #2b2d42;
}

.key-container {
  margin-top: 30px;
}

.key-container h2 {
  color: #ef233c;
  text-align: center;
}

.keys-list {
  text-align: left;
}

.key-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: #8d99ae;
  padding: 15px;
  border: 1px solid #edf2f4;
  border-radius: 10px;
  word-wrap: break-word;
}

.key-item input {
  flex-grow: 1;
  border: 0;
  background: transparent;
  color: #edf2f4;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.key-item button {
  margin-left: 20px;
  background-color: #d90429;
  border: 0;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  color: #edf2f4;
  font-size: 16px;
}

.key-item button:hover {
  background-color: #ef233c;
}

.hidden {
  display: none;
}

.copy-status {
  margin-top: 20px;
  color: #d90429;
  font-weight: normal;
  text-align: center;
}
